header {
    background-color: var(--dark-main);
    color: white;
    padding: 25px 0 0 0;
    text-align: center;
}

section {
    background-color: var(--dark-main);
    color: white;
}

section:last-of-type {
    padding-bottom: 40px;
}