section:nth-of-type(even) {
    background-color: var(--lighter-blue);
    color: var(--navy);
}

section:nth-of-type(odd) {
    background-color: var(--navy);
    color: var(--lighter-blue);
}

section {
    padding-block: 40px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    display: block;
    position: relative;
    background-color: var(--navy);
    color: var(--lighter-blue);
    padding: 25px;
    border-radius: 25px;
    min-height: 250px;
    margin-top: 25px;
    margin-right: 25px;
}

.event h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 25.2px;
    margin-block: 0;
}

.event p {
    text-align: left;
    margin-bottom: 0;
}

.event p:first-of-type {
    margin-top: 5px;
}

.event {
    padding-right: 25px;
    width: 300px;
    min-width: 30%;
    transition: 0.25s;
}

.event:hover {
    scale: 1.1;
}

.event img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;

    position: relative;
    right: 25px;
    top: 25px;
    
    margin: 25px;
    margin-top: 0;
}

.event:last-of-type {
    background-color: var(--navy);
}
.event:last-of-type:hover {
    scale: 1;
    background-color: var(--navy-12);
}
.event:last-of-type div::before {
    content: "Coming Soon...";
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: rotate(-15deg) translate(-50%, -125%);
    font-size: min(max(3vw, 34px), 48px);
    font-weight: 400;
    line-height: 50.4px;
    color: transparent;
    z-index: 1;
    transition: 0.25s;
}
.event:last-of-type:hover div::before {
    color: var(--navy);
}
.event:last-of-type div {
    width: 100%;
    height: 300px;
    background-color: var(--grey);

    display: inline-block;
    border-radius: 25px;
    object-fit: cover;
    position: relative;
    right: 25px;
    top: 25px;
    margin: 25px;
    margin-top: 0;
}